/*borders and colors*/
th {
    font-weight:bold;
}

td, th {
    border: 1px dashed black;
}

section{
    break-inside: avoid;
}

.box{
    column-span: all;
}

body {
    background-color:lightskyblue;
    height: 2000px;
}

img{
    float: left; 
}

/*table stuff*/
table {
    border-radius: 20px;
    overflow: scroll;
    display: block;
}

/*nav sticky stuffs */
#directory {
    border: 2px solid black;
    background-color: yellow;
    position: sticky;
    top: 30px;
    left: 30px;
}

nav {
    display:flex;
    justify-content: space-between;
}



/*grid and multicol*/
.grid-container {
    column-count: 2;
    column-gap: 100px;
    column-rule: 5px solid yellow;
    width: 100%;
    break-inside: avoid;
}

.item {
    display:grid;
    grid-template-columns: 380px;
    overflow: scroll;
}

.multicol{
    column-width: 250px;
    column-gap: 25px;
    column-rule: 5px solid yellow;
    grid-column: 1/3;
    grid-row: 1/3;
    border-radius: 20px;
}

@media(max-width:1250px) {
    .item{
        display: grid;
        grid-template-columns: 500px;
    }
   .grid-container{
        column-count: 2;
   }
    
}

@media (max-width: 1000px){ 
    .item{
        display:grid;
        grid-template-columns: 300px;
    }
    .grid-container{
        column-count: 2;
    }
    .nav-item {
    border: 1px solid black;
    border-radius: 5px;
    }
}

@media (max-width: 800px){ 
    .item{
        display:grid;
        grid-template-columns: 400px;
    }
    .grid-container{
        column-count: 1;
    }
}

@media (max-width: 600px){ 
    .item{
        display:grid;
        grid-template-columns: 350px;
    }
}
